body
{
background-color:  #e2e2e2;

}
.container
{
background-color:white;
width:auto;
height:auto;
background-color:  #e2e2e2
}










/* image { */
/* width:auto; */
/* height:10px;; */
/* background-size:cover;	 */
/* } */